:root{
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-text-color: #2196F3 ;
    --primary-br-color:  #FFFFFF;
    --title-list-text-color: #757575;
    --footer-list: #FFFFFF 60%;

}

body {
    background-color: #FFFFFF;
    color:var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
   }



   /* Hero */
   .hero {background-color: #2F303A;}
   .hero-title {color: var(--primary-br-color);}
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;}

    /* Button */
.button { color: var(#000000 15%);}

.hero-button {color: #FFFFFF;
background-color: var(--accent-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;}

     /* прибрала комерацію списку */
   ul {list-style: none;}

   /* Logo */

.logo {color: var(--primary-text-color);
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-link{color:  var(--accent-text-color);}
.link {color: var(--primary-text-color);}
   
.accent{color: var(--accent-text-color);}

/* Kontakt */
.kontakt-nav {color: var(--primary-text-color);}

.kontakt-link {color: var(--accent-text-color);}

/* Site-nav */
.site-nav-caren {color: var(--accent-text-color);}

.site-nav .link {color:var(--primary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;}

/* Section */

.section-title{
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
  }

.title-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;}

/* Feature */

.feature-list .title {color: var(--primary-text-color);}



/* Footer*/
.footer { color: var(--primary-br-color);
  background-color: #2F303A;}
.footer-title {color: var(--accent-text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  
  letter-spacing: 0.03em;}

.footer-br {color: var(--primary-br-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;}

.footer-list {color: var(--primary-br-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  
  letter-spacing: 0.03em;}


/* основний колір тексту #212121 */
/* другорядний колір тексту #757575 */
/* блакитний акцент #2196F3 */
/* білий акцент #FFFFFF */
/*  чорний акцент #000000 */
/* фон кнопки rgba(33, 150, 243, 1) */
/* адреса в футері rgba(255, 255, 255, 0.6)*/